*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  position: relative;
  color: white;
  padding: 25px 15px;
  background-color: rgb(0, 0, 0);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1px);
    background: linear-gradient(
      rgba(252, 232, 232, 0),
      rgba(8, 18, 44, 0.6) 20%,
      rgba(170, 132, 27, 0.2)
    );
    z-index: -1;
  }
}

h1 {
  text-align: center;
  font-size: 45px;

  & + * {
    margin-top: 60px;
  }
}
h2 {
  color: #edff00;
}

a {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.main_bg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  z-index: -2;
}

@media (max-width: 768px) {
  .main_bg {
    height: 100%;
  }
}

.card-albums {
  width: 100%;
  padding: 15px;
  text-align: center;

  & button {
    padding: 10px 20px;
    font-size: 25px;
  }

  & button + * {
    margin-top: 30px;
  }
}

.card-albums__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-albums__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      transform: translateY(-10px);
    }
  }
}

/* form */

.authorization {
  position: fixed;
  inset: 0;
  backdrop-filter: brightness(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  margin: 0;
}

.authorization__title {
  & + * {
    margin-top: 20px;
  }
}

.authorization__form {
  min-width: 310px;
  max-width: 610px;
  padding: 25px;
  background-color: rgb(162, 162, 162);
  border-radius: 25px;
  display: grid;
  gap: 25px;
  margin: 15px 20px 15px;
}

.authorization__label {
  & + * {
    margin-top: 10px;
  }
}

.authorization__field {
  width: 100%;
}
.authorization__btn {
  color: dimgray;
  cursor: pointer;
}

.authorization__field,
.authorization__btn {
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;

  &:focus {
    outline: 2px solid #edff00;
  }
}
